{% load static %}
<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Life</title>
    <style type="text/css">
    .responsive{
        max-width: : 100%;
        width: auto;
    }
    @media screen and (max-width: 800px){
        .responsive{
            width: 90%
        }
    }

    @media only screen and (max-width:620px) {
     /* For mobile phones: */
        .responsive{
            width:100%;
        }
    }

    @media only screen and (max-width:400px) {
     /* For mobile phones: */
        .responsive{
            width:100%;
        }
    }

    </style>
</head>

<style>
h1{
	color:#cc2900;
	font-family:Libre Baskerville;
	font-size: 350%;
    border-top: 3px dotted #e67300;
    border-right: 3px solid #e67300;
    border-bottom: 3px dotted #e67300;
    border-left: 3px solid #e67300;
}
h2{
    color:#c2c2a3;
    font-family:montserrat;
    font-size: 250%;
}
article{
	font-family:domine;
	color:#e0e0d1;
	font-size: 120%;
}
img{
	border-radius: 8px;
}
</style>

<body background="https://newevolutiondesigns.com/images/freebies/black-iphone-wallpaper-10.jpg">
<!-- <img src="{% static './4x4.jpg' %}" alt="My image", height = 400> -->
    <h1> My Info </h1>
    <h2>
    	Gusti Ngurah Yama Adi Putra<article style="font-size: 50%;">1706979253</article><hr>
    </h2>
    <img src ="http://www.about.tarung2017.com/foto/312.jpg" alt="orang ganteng", height=300>
    <article>
    	Study at University of Indonesia
    	</br> seorang dengan hobi Ngoding <br></br> Seorang mahasiswa yang berharap bisa lulus dengan predikat cumlaude dan berguna bagi sesama. </br>
	</article>


	<h1> My Friends </h1>
	<h2>
    	</br>Rafif Taris<article style="font-size: 50%;">1706979436</article><hr>
    </h2>
    <img src ="http://www.about.tarung2017.com/foto/329.jpg" alt="rafif", height=300>
    <article>
    	Study at University of Indonesia
    	</br> seorang dengan hobi Mendengarkan Musik, Main Game, Membaca Novel <br></br> Saya suka mendengarkan musik terutama genre K-Pop dan EDM. Saya masuk Fasilkom UI karena saya ingin mendalami sistem keamanan komputer. Menjadi programmer web adalah salah satu langkah menuju impian saya. See you on top guys! </br>
	</article>

	<h2>
    	</br>Raihansyah Attallah Andrian <article style="font-size: 50%;">1706040196</article><hr>
    </h2>
    <img src ="http://www.about.tarung2017.com/foto/330.jpg" alt="dean", height=300>
    <article>
    	Study at University of Indonesia
    	</br> seorang dengan hobi bermain game dan main musik<br></br> Sangat tidak ambiz. </br>
	</article>

<!--  -->
</body>
</center>
</html>

